.wrapper {
  padding-right: 18px;
  padding-left: 18px;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;

  &--b-margin {
    margin-bottom: 1rem;

    @mixin atSmall {
      margin-bottom:  3.875rem;
    }
  }

  &--medium {
    max-width: 976px;
  }

  &--narrow {
    max-width: 470px;
  }

  &--no-padding {
    padding-right: 0;
    padding-left: 0;

    @mixin atLarge {
      padding-right: 18px;
      padding-left: 18px;
    }
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}